<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css">
<body>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">BL</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>

<div class="container-fluid" ng-app="badgerloop" ng-controller="HomeController">
<h1 style="text-align: center;">
<img src="images/BadgerLoopLogoWhite.png" alt="BadgerLoop" width="800"> 
</h1>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 style="text-align: center; padding-bottom: 10px;">Overview</h4>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="showChal()">Challenge</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="showSpec()">Specifications</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="showSol()">Solution</button>
					</div>
				</div>

			</div>
			<div class="panel-body" ng-show="challenge">
				<p>
					<b>What is the one thing everyone wishes they had more of? Time.</b> Everyday millions are running around fighting the clock; work deadlines quickly approach, family obligations demand attention, friends are constantly pulling in all directions. How are we able to accomplish all of this and stay sane? 
				</p>
				<p>
					<b>What if there was a way you could buy back some of your time?</b> A survey done by the AAA Foundation for Traffic Safety concluded that the average American spends 300 hours a year traveling in many modes of transportation. Much of that time is spent focusing on the task at hand of getting you to your destination. But, not only is traveling time consuming, it is expensive, destructive to the environment, unsafe and uncomfortable. We need something that can eliminate all of the issues associated with travel.
				</p>
				<p>
					<b>The underlying motivation for a statewide mass transit system is a good one.</b> It would be great to have an alternative to flying or driving, but only if it is actually better than flying or driving. The train would be both slower, more expensive to operate and less safe by two orders of magnitude than flying, so no one would use it. If we are to make a massive investment in a new transportation system, then the return should by rights be equally massive. Compared to the alternatives, it should ideally be: safer, faster, lower cost, more convenient, immune to weather, sustainably self-powering and not disruptive to those along the route. Is there truly a new mode of transport—a fifth mode after planes, trains, cars and boats—that meets those criteria and is practical to implement?

				</p>
			</div>
			<div class="panel-body" ng-show="solution">
				<p>
					The Badgerloop Team at the University of Wisconsin-Madison was selected by SpaceX to participate in their competition. As one of 30 international pod designs, we presented and received 3rd place and a pod technical excellence award back in Jan 2016 during the first stage of the competition, Design Weekend. We were then selected to advance in the competition to build and test our Hyperloop pod prototype. This project will culminate in the final Competition Weekend in Hawthorne, California. Our primary goal is to produce a fail-safe, passenger-friendly, scalable prototype that successfully levitates throughout the length of the test track.
				</p>
				<p>
					In order to accomplish such a task, our student organization relies on diverse membership from both STEM and Business majors, as well as an accomplished body of industry and academic advisors. With a team of collectively over 200 students, primarily undergraduates, Badgerloop is proud to collaborate and participate with premier researchers all over the globe, laying the foundation for the future of transportation.
				</p>
			</div>
			<div class="panel-body" ng-show="specs">
				<p>
					The Hyperloop is a new fifth mode of passenger and freight transportation. Pod-like vehicle propel through a near-vacuum tube at airline speeds. The pods accelerate to cruising speed gradually using a linear electric motor and glide above their track using passive magnetic levitation or air bearings. This system will be highly energy-efficient, quiet and autonomous.
				</p>
				<p>
					The concept of high-speed travel in tubes has been around for decades, but there has been a resurgence in interest by Elon Musk. The outline of the original Hyperloop concept was made public by a preliminary design document in August 2013, which included a suggested route running from the Los Angeles region to the San Francisco Bay Area. Preliminary analysis indicated that this a route could be completed in a journey time of 35 minutes, meaning that passengers would travel at an average speed of around 600 mph. Travelers would also avoid the long wait times during check-ins, takeoffs and landings necessary for air travel.
				</p>
				<p>
					Hyperloop technology has been explicitly open-sourced by Musk and SpaceX, and others have been encouraged to take the ideas and further develop them. The Hyperloop pod competition is a competition sponsored by SpaceX that is being held in 2015–2017. Student and non-student teams are participating to design and build a subscale prototype transport vehicle to demonstrate technical feasibility of various aspects of the Hyperloop concept.
				</p>
			</div>

		</div>
	</div>
	<div class="col-md-3"></div>
</div>



</div>

<script src="app.js"></script>
<script src="homecontroller.js"></script>

</body>
</html>
