
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<h4><img src="../images/BadgerLoopLogoWhite.png" alt="BadgerLoop" width="400" style="padding-bottom: 10px;"></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
		     	<div class="thumbnail">
		          	<img src="../images/braking/th_fea.jpg" alt="Cinque Terre" style="width:100%">
		          	<div class="caption">
		            	<p>Braking Bogie FEA Analysis</p>
		            	<p>
		            		<a class="btn btn-xs btn-primary" role="button" href="../images/braking/fea.jpg" target="_blank">Expand</a>
		            		<a class="btn btn-xs btn-default" role="button" href="../images/braking/fea.jpg" download>Download</a>
		            	</p>
		          	</div>
		      	</div>
		    </div>
		    <div class="col-md-4">
		     	<div class="thumbnail">
		          	<img src="../images/braking/th_frame2.jpg" alt="Cinque Terre" style="width:100%">
		          	<div class="caption">
		            	<p>Braking Bogie CAD Model</p>
		            	<p>
		            		<a class="btn btn-xs btn-primary" role="button" href="../images/braking/frame2.jpg" target="_blank">Expand</a>
		            		<a class="btn btn-xs btn-default" role="button" href="../images/braking/frame2.jpg" download>Download</a>
		            	</p>
		          	</div>
		      	</div>
		    </div>
		     <div class="col-md-4">
		     	<div class="thumbnail">
		          	<img src="../images/braking/th_frame1.png" alt="Cinque Terre" style="width:100%">
		          	<div class="caption">
				<p>Final Implementation</p>
		            	<p>
		            		<a class="btn btn-xs btn-primary" role="button" href="../images/braking/frame1.png" target="_blank">Expand</a>
		            		<a class="btn btn-xs btn-default" role="button" href="../images/braking/frame1.png" download>Download</a>
		            	</p>
		          	</div>
		      	</div>
		    </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 style="text-align: center; padding-bottom: 10px;">Braking - Ian Wortley</h4>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="showChal()">Challenge</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="showSpec()">Specifications</button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="showSol()">Solution</button>
					</div>
				</div>

			</div>
			<div class="panel-body tinfo" ng-show="challenge">
				<p>
					This semester my team and I were challenged with finishing the final iteration of the braking frames.  This included designing, fabricating, and testing them.  The two identical frames will be attached to the pod in the front and back and will fix the wheels and drum brakes to the whole assembly.  Despite the relative simplicity of the task, these frames will be vital to the success of the pod during competition so they need to be as level, aligned, and structurally sound as possible.  Due to this, a lot of hard work and effort has gone into ensuring they will function properly.
				</p>
			</div>
			<div class="panel-body tinfo" ng-show="specs">
				<ol>
					<li style="padding-bottom: 5px;">
						The frames must be able to hold the entire weight of the pod between the two of them.  With a mass of 1,000 kg, this will be a vertical force of 9,800 N.  I will test the frames for values between 9,800 and 10,780 N (1,000-1,100 kg).  The factor of safety must be 2 or higher.
					</li>
					<li style="padding-bottom: 5px;">
						During the braking process there will be a horizontal reaction force on the frames.  This has been estimated to be approximately the force of the pod, 9,800 N.  I will test the frames with horizontal and vertical forces with the same boundaries and factor of safety as specification 1.
					</li>
					<li style="padding-bottom: 5px;">
						After assembly, the entire system needs to be tested for braking force output.  This force must be enough to stop the 1,000 kg pod traveling at approximately 90 m/s (200 mph) in about 805 m (half of a mile).  These numbers can vary depending on how fast we end up going.  I will calculate the braking force needed for a range of speeds between 60 and 90 m/s as well as a range of masses, 1,000-1,100 kg.  I will then measure the force output from the drum brakes themselves and determine whether or not they are strong enough and the distance that we must start braking from.
					</li>
					<li style="padding-bottom: 5px;">
						The wheels need to be aligned to within .001 of a degree.  This is so that there is as little force on the stability system as possible.  This will be tested after the frame is attached and adjusted using screw actuation.
					</li>
				</ol>
			</div>
			<div class="panel-body tinfo" ng-show="solution">
				<p>
					For the first part of the semester, I worked with the team to finalize the design for the braking frame.  This involved using Solidworks for modeling and running static FEA’s.  Each frame consists of 2x2 inch rectangular tubing connected with gusset plates.  For material we went with 6061 Aluminum so that it will be light, strong, and non-ferrous.  The plates that the drum brakes are bolted into are half inch thick 6061 Aluminum that span the vertical bars on opposite sides.  Stub axles were purchased online, so we already had the plate’s hole-pattern dimensions.  After the Solidworks assembly of the frame was completed, I ran the FEA’s.  Using the static FEA analysis tool in Solidworks, the system was tested with applied horizontal and vertical forces to simulate the braking reactions and weight of the pod.  The frame passed with a 2.45 factor of safety.
				</p>
				<p>
					With the designing complete, fabrication could begin.  The components were ordered online by the Team Lead.  Once they arrived, we started right away with cutting and drilling the rectangular tubing and gusset plates.  The half inch mounting plates were sent to the waterjet. With everything cut out we began assembling the frames using BOM rivets for the tube-gusset plate connections and bolts for the half inch plate.  To fix it to the pod, the frame was jacked up to keep it at a constant height while we BOM riveted it in.  In the final assembly steps we attached the axles, drum brakes, and wheels to the fixed frames.
				</p>
				<p>
					There are two tests we need to perform before the competition.  The braking force test, and the wheel alignment test.  We plan to have wheel alignment done before Christmas, and braking force will happen after New Year’s.  Our plan for the alignment test is to attach lasers to the outside of the wheels and direct them at a blank screen placed at a known distance from the pod.  Another laser will be centered on the pod and directed at the same screen to be used as a reference.  We can then use trig to find the offset angle of each wheel and adjust them accordingly.  For the braking test the pod will be dragged behind a car and released.  The brakes will be applied, and the time to stop will be recorded.  This will be done at multiple speeds so that a force curve can be generated.
				</p>
			</div>

		</div>
	</div>
</div>


