

<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Member Information</h4>
		<input style="margin-bottom: 10px;" type="text" ng-model="mSearch" placeholder="Search">
	</div>
	<div class="panel-body contact">
	<table class="table table-striped">
        	<thead>
			<tr>
			<th>Team</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in teams | filter : mSearch">
			<td><span class="label label-success">{{x.team}}</span></td>
			<td>{{x.firstname}}</td>
			<td>{{x.lastname}}</td>
			<td>{{x.email}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Faculty Information</h4>
		<input style="margin-bottom: 10px;" type="text" ng-model="fSearch" placeholder="Search">
	</div>
	<div class="panel-body contact">
	<table class="table table-striped">
        	<thead>
			<tr>
			<th>Department</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Topic</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in advisors | filter : fSearch">
			<td><span class="label label-warning">{{a.dep}}</span></td>
			<td>{{a.firstname}}</td>
			<td>{{a.lastname}}</td>
			<td>{{a.topic}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>


