<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>

<div ng-app="badgerloop" ng-controller="MainController">

{{ firstName + " " + lastName }}<br>
Full Name: {{fullName()}}
<test></test>
<br>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">Heading
				<button ng-click="showPanelBody()">Show Body</button>
			</div>
			<div class="panel-body" ng-show="showBody">Panel Body
				<ul>
					<li>1</li>
					<li>1</li>
					<li>1</li>
					<li>1</li>
					<li>1</li>
				</ul>
			</div>
			</div>
	</div>
</div>
{{ myResponse }}
<br>
<br>
{{ elements }}
<br>
<br>
<table>
	<tr ng-repeat="x in responseNames | orderBy: 'Country'">
		<td>{{ $index + 1 }}</td>
		<td>{{ x.Name }}</td>
		<td>{{ x.Country | uppercase }}</td>
	</tr>
</table>

<p>{{ myUrl }}</p>
<test-dir></test-dir>
<br>
<br>
<h1 ng-mousemove="eventFunction($event)" ng-mouseover="count = count + 1">Mouse Over Me</h1>
<br>
Count: {{ count }}
<p>Coordinates: {{ x + ', ' + y }}</p>
<br>
<br>
<button ng-click="showFunc()">Click Me</button>
<div ng-show="showMe">
	<h1>Menu:</h1>
</div>
<br>
<br>
<select ng-model="selectedName" ng-options="x for x in names"></select>
<br>
Name: <input ng-model="name">
<h1>You entered: {{name}}</h1>

<form name="myForm">
	Email:
	<input type="email" name="myAddress" ng-model="text">
	<span ng-show="myForm.myAddress.$error.email">Not a valid email address</span>
</form>

<p><input type="text" ng-model="test"></p>
<ul>
	<li ng-repeat="x in names | filter:test">
	{{ x }}
	</li>
</ul>
</div>

<script src="app.js"></script>
<script src="maincontroller.js"></script>

 </body>
 </html>
